@import "variables.scss";

.price-card {
    &__badge {
        height: 25px;
        width: 147px;
        background: $color-red;
        transform: rotate(45deg);
        position: absolute;
        right: -40px;
        top: 40px;
        text-align: center;
        overflow: hidden;
        span {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            line-height: 25px;
        }
    }
}
