@import "variables.scss";
ul {
  list-style-type: none;
}
button {
  width: 155px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: $text-color-white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
