.price-card{
    .price{
        height: 105px;
            &__value {
                margin: 0;
                height: 104px;
                line-height: 104px;
                font-weight: 700;
                font-size: 55px;
                text-align: center;
                &:after {
                    content: '\20AC'
                }
  
        }
    }
}