$color-orange : #EC632A;
$color-green : #5BB189;;
$color-blue : #3A6BA5;
$color-red: #DC3F45;
$text-color-white: #fff;
$bg-color: #141B1C;
$card-bg-color: #334247;
$list-dark: rgba(42, 52, 56, 0.5);
$box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

$font :  'Montserrat', sans-serif;