$color-orange: #ec632a;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-red: #dc3f45;
$text-color-white: #fff;
$bg-color: #141b1c;
$card-bg-color: #334247;
$list-dark: rgba(42, 52, 56, 0.5);
$box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

$font: "Montserrat", sans-serif;
